* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
.navbar {
  flex: 50%;
  flex-wrap: wrap;
  text-align: center;
  font-size: 18px;
  color: #e5e7e8;
}

.navbar a {
  padding: 20px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar img {
  padding-bottom: 20px;
}
.header > h1 {
  font-size: 48px;
  font-weight: extra-bold;
}
.submit {
  background-color: #3882f6;
  font-size: 16px;
  padding: 10px;
}
.header {
  text-align: center;
  flex: 50%;
  color: #f9faf8;
}
.head {
  display: flex;
  background-color: #1f2937;
  flex-wrap: wrap;
}
.blockquote {
  text-align: center;
  padding: 20px;
  background-color: #e5e7e8;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  flex: 100%;
}
.footer {
  padding: 20px;
  text-align: center;
  background-color: #1f2937;
  flex: 100%;
}
.blue {
  flex: 100%;
  justify-content: space-evenly;
  background-color: #fff;
}
.inner {
  display: flex;
  margin: 60px;
  padding: 20px;
  background-color: #3882f6;
  flex: auto;
}

.sign-up {
  flex: 50%;
  padding: 20px;
  align-content: center;
}
.sign-up-button {
  flex: 50%;
  align-self: center;
  text-align: center;
  justify-self: center;
}

.submit-1 {
  border: 2px solid #fff;
}

.blocks {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 0 px;
  flex:100%;
  flex-wrap: wrap;

  justify-content: center;
  align-content:center;

  gap: 24px;
  padding: 25px;
}
.items {
  text-align: center;
  justify-content: center;
  align-content:center;
  border-radius: 10px lightblue solid;

}

.text {
  text-align: center;
  color: black;
  font-size: 14px;
  font-family: "lunatic";
}

.image {
  border: 6px solid rgb(53, 108, 211);
  border-radius: 24px;

}
